## Description

Through this hands on Assignment, I worked on a real world dataset provided by the Chicago Data Portal to improve educational outcomes for children and youth in the City of Chicago. I analyzed the census, crime, and school data for a given neighborhood or district. I identified the causes that impact the enrollment, safety, health, environment ratings of schools.

In [7]:
!pip install sqlalchemy 
!pip install ibm_db_sa 
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa 
!pip install ipython-sql

%load_ext sql

Requirement already satisfied: sqlalchemy in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (3.1.1)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: sqlalchemy==1.3.9 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (3.1.1)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (62.1.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: stack-data in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql ibm_db_sa://sss96919:pVQdPPlE5XmvE36E@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb?security=SSL

In [10]:
%sql select distinct(NAME), coltype, length from sysibm.syscolumns where tbname = 'CRIME'

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('ARREST', 'VARCHAR ', 5),
 ('BEAT', 'SMALLINT', 2),
 ('BLOCK', 'VARCHAR ', 35),
 ('CASE_NUMBER', 'VARCHAR ', 8),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('DATE', 'DATE    ', 4),
 ('DESCRIPTION', 'VARCHAR ', 46),
 ('DISTRICT', 'SMALLINT', 2),
 ('DOMESTIC', 'VARCHAR ', 5),
 ('FBICODE', 'VARCHAR ', 3),
 ('ID', 'INTEGER ', 4),
 ('IUCR', 'VARCHAR ', 4),
 ('LATITUDE', 'DECIMAL ', 18),
 ('LOCATION', 'VARCHAR ', 29),
 ('LOCATION_DESCRIPTION', 'VARCHAR ', 33),
 ('LONGITUDE', 'DECIMAL ', 18),
 ('PRIMARY_TYPE', 'VARCHAR ', 15),
 ('WARD', 'SMALLINT', 2),
 ('X_COORDINATE', 'INTEGER ', 4),
 ('YEAR', 'SMALLINT', 2),
 ('Y_COORDINATE', 'INTEGER ', 4)]

### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [13]:
%sql select count(distinct(CASE_NUMBER)) AS NUMBER_CRIME from CRIME

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[(533,)]

In [14]:
%sql select distinct(NAME), coltype, length from sysibm.syscolumns where tbname = 'CENSUS'

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('HARDSHIP_INDEX', 'SMALLINT', 2),
 ('PERCENT_AGED_16__UNEMPLOYED', 'DECIMAL ', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'DECIMAL ', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'DECIMAL ', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'DECIMAL ', 4),
 ('PERCENT_OF_HOUSING_CROWDED', 'DECIMAL ', 4),
 ('PER_CAPITA_INCOME', 'INTEGER ', 4)]

### Problem 2: List community areas with per capita income less than 11000.

In [16]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [20]:
%sql select distinct(NAME), coltype, length from sysibm.syscolumns where tbname = 'SCHOOLS'

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('10th Grade PLAN (2009)', 'VARCHAR ', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR ', 4),
 ('11th Grade Average ACT (2011)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR ', 4),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR ', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR ', 6),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR ', 6),
 ('CITY', 'VARCHAR ', 7),
 ('COLLABORATIVE_NAME', 'VARCHAR ', 34),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR ', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR ', 4),
 ('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR ', 15),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR ', 16),
 ('ENVIRONMENT_ICON', 'VARCHAR ', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('Elementary, Middle, or High School', 'VARCHAR ', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR ', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR ', 3),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR ', 4),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR ', 4),
 ('GR3_5_GRADE_LEVEL_READ__', 'VARCHAR ', 4),
 ('GR3_5_KEEP_PACE_MATH__', 'VARCHAR ', 4),
 ('GR3_5_KEEP_PACE_READ__', 'VARCHAR ', 4),
 ('GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR ', 4),
 ('GR6_8_GRADE_LEVEL_READ__', 'VARCHAR ', 4),
 ('GR6_8_KEEP_PACE_MATH_', 'VARCHAR ', 4),
 ('GR6_8_KEEP_PACE_READ__', 'VARCHAR ', 4),
 ('GRADUATION_RATE__', 'VARCHAR ', 4),
 ('GR_8_EXPLORE_MATH__', 'VARCHAR ', 4),
 ('GR_8_EXPLORE_READ__', 'VARCHAR ', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR ', 3),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR ', 7),
 ('INSTRUCTION_ICON', 'VARCHAR ', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL ', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL ', 4),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL ', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL ', 3),
 ('LATITUDE', 'DECIMAL ', 18),
 ('LEADERS_ICON', 'VARCHAR ', 4),
 ('LEADERS_SCORE', 'VARCHAR ', 3),
 ('LINK', 'VARCHAR ', 78),
 ('LOCATION', 'VARCHAR ', 27),
 ('LONGITUDE', 'DECIMAL ', 18),
 ('NAME_OF_SCHOOL', 'VARCHAR ', 64),
 ('NETWORK_MANAGER', 'VARCHAR ', 40),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR ', 3),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR ', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR ', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR ', 3),
 ('PHONE_NUMBER', 'VARCHAR ', 14),
 ('PK_2_LITERACY__', 'VARCHAR ', 4),
 ('PK_2_MATH__', 'VARCHAR ', 4),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL ', 5),
 ('SAFETY_ICON', 'VARCHAR ', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('SCHOOL_ID', 'INTEGER ', 4),
 ('STATE', 'VARCHAR ', 2),
 ('STREET_ADDRESS', 'VARCHAR ', 29),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR ', 4),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR ', 4),
 ('TEACHERS_ICON', 'VARCHAR ', 11),
 ('TEACHERS_SCORE', 'VARCHAR ', 3),
 ('TRACK_SCHEDULE', 'VARCHAR ', 12),
 ('WARD', 'SMALLINT', 2),
 ('X_COORDINATE', 'DECIMAL ', 13),
 ('Y_COORDINATE', 'DECIMAL ', 13),
 ('ZIP_CODE', 'INTEGER ', 4)]

### Problem 3: List all kidnapping crimes involving a child?

In [67]:
%sql select PRIMARY_TYPE, DESCRIPTION from CRIME c where LCASE(PRIMARY_TYPE) like'kidnap%' and lcase(DESCRIPTION) like 'child%'

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 4: List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [61]:
%sql select CASE_NUMBER, DESCRIPTION, PRIMARY_TYPE from CRIME where LCASE(DESCRIPTION) like'%minor%'

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'LIQUOR LAW VIOL'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR', 'LIQUOR LAW VIOL')]

### Problem 5: What kind of crimes were recorded at schools?

In [119]:
%sql select DISTINCT(PRIMARY_TYPE) from CRIME c where LCASE(LOCATION_DESCRIPTION) like'%school%'

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6: List the average safety score for all types of schools.

In [58]:
%sql select AVG(SAFETY_SCORE) as AVG_SAFETY_SCORE from SCHOOLS s

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[(49,)]

### Problem 7: List 5 community areas with highest % of households below poverty line.

In [120]:
%%sql 

select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS 
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8: Which community area(number) is most crime prone?

In [107]:
%%sql 
SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) as number_of_crimes FROM CRIME 
GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY number_of_crimes DESC LIMIT 1;

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[(25, 43)]

### Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [90]:
%%sql 

select COMMUNITY_AREA_NAME, HARDSHIP_INDEX  from CENSUS 
where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS)

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('Riverdale', 98)]

### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [117]:
%%sql


SELECT COMMUNITY_AREA_NAME as Community_with_most_number_of_crimes, CRIME.COMMUNITY_AREA_NUMBER FROM CENSUS, CRIME 
where CRIME.COMMUNITY_AREA_NUMBER = CENSUS.COMMUNITY_AREA_NUMBER and 
CRIME.COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CRIME 
GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1) 
LIMIT 1

 * ibm_db_sa://sss96919:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/bludb
Done.

[('Austin', 25)]